<h1>User Registrations</h1>

<table class="table">

<tr>
	<td>
		UserName
	</td>
	<td>
		Email
	</td>
	<td>
		Password
	</td>
	<td>
		Role
	</td>
</tr>

<tr>
	{{users}}	
	<tr>
		{{name}}
	</tr>

	<tr>
		{{email}}
	</tr>
	<tr>
		{{password}}
	</tr>
	<tr>
		{{role}}
	</tr>
	<!-- <td>
	  <a href="/"></a>
	</td> -->
</tr>
{{users}}
</table>